// wrapper
.container {
    max-width: 69.375rem; // 1110px;
    margin: 0 auto;
    &--pall {
        padding: 4.375rem 1.5rem;
        @include breakpoint-up(large) {
            padding-top: 6rem; //?
        }
    }
    &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        @include breakpoint-up(large) {
            padding-top: 6rem; //?
        }
    }
    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt {
        padding-top: 4.375rem;
        @include breakpoint-up(large) {
            padding-top: 6rem;
        }
    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--pb {
        padding-bottom: 4.375rem;
        @include breakpoint-up(large) {
            padding-top: 6rem;
        }
    }
    &--pl {
        padding-left: 1.5rem;
    }

}

.flex {
    display: flex;
    &-jc-sb {
      justify-content: space-between;
    }
    &-jc-c {
      justify-content: center;;
    }
    &-ai-c {
      align-items: center;
    }
}

// Button
button, .button {
    position: relative;
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    background-image: linear-gradient(to right, $limeGreen, $brightCyan);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    color: $white;
    font-weight: 400;
    font-size: $font-sm;
    transition: opacity 300ms ease-in-out;
    overflow: hidden;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255 ,.25);
      opacity: 0;
      transition: opacity 150ms ease-in-out;
  
    }
  
    &:hover::before {
      opacity: 1;
    }
}

//Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
      display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}