.header {
    nav {
        position: relative;
        background-color: $white;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }

    &__logo {
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__toggle { //mobile menu
        > span {
            display: block;
            width: 1.625rem;
            height: 2px;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__menu {
        position: absolute;
        // position: relative;  // switch all up props
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin: 1.5rem 0.625rem 0;
        padding: 1.625rem;
        border-radius: 5px;
        z-index: $z-tooltip; // 10
        a {
            display: block;
            padding: 0.625rem;
            color: $darkBlue;
            text-align: center;
        }
    }
    &__links {
        a {
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;
            &:not(:last-child) {
                margin-right: 2rem;
            }
            &:hover {
                color: $darkBlue;
                &::before {
                    opacity: 1;
                }
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                left: 0;
                right: 0;
                bottom: -30px;
                transition: opacity 300ms ease-in-out;
            }
        }
    }

    &__cta {
        color: $white;
        transition: opacity 300ms ease-in-out;
        &:hover {
            opacity: 0.75;
        }
    }

    // Hamburger open styles
    &.open {

        .header__toggle {
        > span:first-child {
            transform: rotate(45deg);
        }
        > span:nth-child(2) {
            opacity: 0;
        }
        > span:last-child {
            transform: rotate(-45deg);
        }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 3.75rem;
        bottom: 0;
        left: 0;
        right: 0;
        //background-color: $darkBlue;
        background-image: linear-gradient($darkBlue, transparent);
        z-index: 10;
    }
}