//- index.pug

extends ../includes/_layout.pug
block head
    +head('Easy Bank Your Bank')
block content 
    include ../includes/_hero.pug
    include ../includes/_feature.pug
    include ../includes/_articles.pug