

mixin card(image, author, title, text)
    .article__item
        .article__image(style=`background-image:url('./images/${image}.jpg')`)
        .article__text
            .article__author= author
            .article__title= title
            .article__description= text