//- head.pug

mixin head(title)
    head    
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- meta(http-equiv="X-UA-Compatible" content="ie=edge")

        link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
        //- Fonts personalized by google
        link(href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet")
        //- Custom Styles
        link(href="../css/style.css" rel="stylesheet")

        title= title