
include ../mixins/_card.pug

-
 var cards = [
     {
         image: 'image-currency',
         author: 'by Gabriel Carrasco',
         title: 'Recieve money in any currency with no fees',
         text: "The world is getting smaller and we're becoming more mobile. So why should you be forces to only received money in a single ..."
     },
     {
         image: 'image-currency',
         author: 'by Gabriel Carrasco',
         title: 'Recieve money in any currency with no fees',
         text: "The world is getting smaller and we're becoming more mobile. So why should you be forces to only received money in a single ..."
     },
     {
         image: 'image-currency',
         author: 'by Gabriel Carrasco',
         title: 'Recieve money in any currency with no fees',
         text: "The world is getting smaller and we're becoming more mobile. So why should you be forces to only received money in a single ..."
     },
     {
         image: 'image-currency',
         author: 'by Gabriel Carrasco',
         title: 'Recieve money in any currency with no fees',
         text: "The world is getting smaller and we're becoming more mobile. So why should you be forces to only received money in a single ..."
     },
 ]

section.articles
    .articles__content.container.container--pall
        h2 Latest Articles

        .article__grid
            each carditem in cards
                +card(carditem.image, carditem.author, carditem.title, carditem.text)