- const links = ['Home', 'About', 'Contact', 'Blog', 'Careers'];

header.header
    .overlay.has-fade
    nav.container.container--pall.flex.flex-jc-sb.flex-ai-c
        a(href="/").header__logo
            img(src="./images/logo.svg", alt="Easy Bank Logo")
        a(href="#")#btnHambuger.header__toggle.hide-for-desktop
            span
            span
            span
        
        .header__links.hide-for-mobile
            each link in links
                a(href="#")= link
        
        a(href="#" type="button").button.header__cta.hide-for-mobile Request invite
    
    .header__menu.has-fade
        each link in links
            a(href="#")= link