
section.hero
    .container
        .hero__image
        .hero__text.container--pall
            h1 Next generation digital bank
            p Take your finalcial life online. Your EasyBank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.
            a(href="#").button.hero__cta Request invite


