//- layout.pug

include ../mixins/_head.pug

doctype html
html(lang=eng)
    block head

    body    
        block header
            include _header.pug
        
        block content

        block footer
            include _footer.pug

        script(src="script/app.js")